.jumbotron
{
background-image:url('../sale2.png');
background-attachment:fixed;
min-height:300px;
margin-bottom:0px;
}
.alt1
{
background:#4cb6ea;
min-height:300px;
}
.alt3
{
background:#333;
min-height:150px;
color:#fff;
text-align:center;
}
.padding
{
padding-top:20px;
padding-bottom:20px;
}